@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.hero,
.hero * {
  box-sizing: border-box;
}
.hero {
  background: #ffd7c6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.hero-background {
  background-color:#ffd7c6;
  background-image: linear-gradient(to bottom left, rgba(251, 154, 113, 6) 1%, rgba(251, 154, 113, 0) 50%, rgba(251, 154, 113, 0.60) 99%);
}

.line-dark-to-light {
  background: linear-gradient(to bottom, #88645f, #e28e6e)
}

.line-light-to-dark {
  background: linear-gradient(to top, #88645f, #e28e6e)
}

.line-4 {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(136, 100, 95, 1) 0%,
    rgba(226, 142, 110, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1039px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ellipse-1 {
  background: radial-gradient(
    closest-side,
    rgba(251, 154, 113, 1) 0%,
    rgba(251, 154, 113, 0) 100%
  );
  border-radius: 50%;
  width: 1317px;
  height: 1040px;
  position: absolute;
  left: 790px;
  top: -469px;
}
.ellipse-2 {
  background: radial-gradient(
    closest-side,
    rgba(251, 154, 113, 1) 0%,
    rgba(251, 154, 113, 0) 100%
  );
  border-radius: 50%;
  width: 1317px;
  height: 1040px;
  position: absolute;
  left: -381px;
  top: 635px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pic {
  width: 429px;
  height: 429px;
  position: absolute;
  left: 153px;
  top: 389px;
}
.ellipse-4 {
  background: rgba(251, 154, 113, 0.29);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.headshot {
  border-radius: 50%;
  width: 87.94%;
  height: 87.94%;
  position: absolute;
  right: 6.03%;
  left: 6.03%;
  bottom: 6.03%;
  top: 6.03%;
  object-fit: cover;
}
.rectangle-2 {
  background: rgba(217, 217, 217, 0.5);
  width: 1449px;
  height: 230px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.theme-color {
  background-color: "#FCA986"
}
.victoria-quinto {
  color: #88645f;
  text-align: left;
  font-family: "Mina-Bold", sans-serif;
  font-size: 52px;
  font-weight: 700;
  position: absolute;
  left: 666px;
  top: 465px;
  width: 713px;
  height: 91px;
}
.a-school-psychologist-turned-software-engineer-building-beautiful-products {
  color: var(--hair, #88645f);
  text-align: left;
  font-family: "Mina-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 666px;
  top: 555px;
  width: 599px;
  height: 339px;
}
.favicon {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: hidden;
}
.favicon2 {
  position: absolute;
  inset: 0;
}
.background {
  background: var(--straw, #f5e77a);
  width: 128px;
  height: 124.63px;
  position: absolute;
  left: 0px;
  top: 1.37px;
}
.v {
  width: 114.16px;
  height: 111.16px;
  position: absolute;
  left: 121.08px;
  top: 109.16px;
  transform: translate(-106.51px, -83.37px);
  overflow: visible;
}
.q {
  width: 54.19px;
  height: 42.71px;
  position: absolute;
  left: 63.22px;
  top: 50.07px;
  overflow: visible;
}
.rectangle-1 {
  border-style: solid;
  border-color: var(--hair, #88645f);
  border-width: 3px;
  width: 128px;
  height: 124.63px;
  position: absolute;
  left: 0px;
  top: 1.37px;
}
.menu {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 1261px;
  top: 51px;
  overflow: hidden;
}
.menu-bars {
  height: auto;
  position: absolute;
  left: 12px;
  top: 47.5px;
  overflow: visible;
}

.work,
.work * {
  box-sizing: border-box;
}
.work {
  background: #fca986;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.line-5 {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(136, 100, 95, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1032.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-6 {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(136, 100, 95, 1) 0%,
    rgba(226, 142, 110, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 1072px;
  top: 1031.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-3 {
  background: rgba(217, 217, 217, 0.5);
  width: 383px;
  height: 343px;
  position: absolute;
  left: 177px;
  top: 118px;
}
.rectangle-4 {
  background: rgba(217, 217, 217, 0.5);
  width: 383px;
  height: 343px;
  position: absolute;
  left: 880px;
  top: 553px;
}
.coinsub-io {
  color: var(--hair, #88645f);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 240px;
  top: 260px;
  width: 257px;
  height: 59px;
}
.name-my-baby {
  color: var(--hair, #88645f);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 923px;
  top: 695px;
  width: 297px;
  height: 59px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(217, 217, 217, 0.5);
  width: 855px;
  height: 343px;
  position: absolute;
  left: 585px;
  top: 118px;
}
.rectangle-7 {
  background: #d9d9d9;
  width: 394px;
  height: 276px;
  position: absolute;
  left: 619px;
  top: 155px;
}
.rectangle-8 {
  background: #d9d9d9;
  width: 394px;
  height: 276px;
  position: absolute;
  left: 1046px;
  top: 155px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: rgba(217, 217, 217, 0.5);
  width: 855px;
  height: 343px;
  position: absolute;
  left: 0px;
  top: 553px;
}
.rectangle-9 {
  background: #d9d9d9;
  width: 394px;
  height: 276px;
  position: absolute;
  left: 0px;
  top: 587px;
}
.rectangle-10 {
  background: #d9d9d9;
  width: 394px;
  height: 276px;
  position: absolute;
  left: 427px;
  top: 587px;
}
.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: linear-gradient(
    180deg,
    rgba(252, 169, 134, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.line-6 {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 1072px;
  top: 1031.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.about-me {
  color: #88645f;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 52px;
  font-weight: 700;
  position: absolute;
  left: 727px;
  top: 53px;
  width: 713px;
  height: 91px;
}
.about-me-subtitle {
  color: #88645f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 220px;
  width: 903px;
  height: 117px;
}
.about-me-description {
  color: #88645f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 84px;
  top: 361px;
  width: 903px;
  height: 624px;
}


.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-11 {
  background: #fb9a71;
  width: 1440px;
  height: 127px;
  position: absolute;
  left: 0px;
  top: 897px;
}
.frame-93 {
  display: flex;
  flex-direction: row;
  gap: 639px;
  align-items: center;
  justify-content: flex-start;
  width: 337px;
  height: 44px;
  position: absolute;
  left: 24px;
  top: 939px;
}
._2024-victoria-quinto-all-rights-reserved {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 332px;
  height: 20px;
}
.social-icons {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1136px;
  top: 937px;
  overflow: visible;
}
.social-icons2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1337px;
  top: 937px;
  overflow: visible;
}
.social-icons3 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1270px;
  top: 937px;
  overflow: visible;
}
.social-icons4 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1203px;
  top: 937px;
  overflow: visible;
}
.line-5 {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1032.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.don-t-be-a-stranger {
  color: #88645f;
  text-align: center;
  font-family: "Mina-Bold", sans-serif;
  font-size: 52px;
  font-weight: 700;
  position: absolute;
  left: 51px;
  top: 132px;
  width: 713px;
  height: 91px;
}
.shoot-me-an-email {
  color: #88645f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 465px;
  top: 280px;
  width: 903px;
  height: 117px;
}
.shoot-me-an-email-span {
  color: #88645f;
  font-family: "Mina-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.shoot-me-an-email-span2 {
  color: #88645f;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github {
  color: #88645f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 465px;
  top: 430px;
  width: 903px;
  height: 396px;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github-span {
  color: #88645f;
  font-family: "Mina-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github-span2 {
  color: #88645f;
  font-family: "Mina-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
