@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fade-in-animation {
  opacity: 0; /* Start state */
  animation: fadeIn 1s ease-in forwards;
}

.hero-background {
  background-color:#ffd7c6;
  background-image: linear-gradient(to bottom left, rgba(251, 154, 113, 6) 1%, rgba(251, 154, 113, 0) 50%, rgba(251, 154, 113, 0.60) 95%);
}

.line-dark-to-light {
  background: linear-gradient(to bottom, #88645fa3, #e28e6e)
}

.line-light-to-dark {
  background: linear-gradient(to top, #88645fa3, #e28e6e)
}



.about-background {
  background: linear-gradient(
    180deg,
    rgba(252, 169, 134, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

