/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_aaf875';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_aaf875 {font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.top-0 {
  top: 0px;
}
.-left-1\/2 {
  left: -50%;
}
.-right-1\/2 {
  right: -50%;
}
.left-1\/4 {
  left: 25%;
}
.left-\[\] {
  left: ;
}
.left-\[10\%\] {
  left: 10%;
}
.right-\[\] {
  right: ;
}
.right-\[10\%\] {
  right: 10%;
}
.left-\[15\%\] {
  left: 15%;
}
.right-\[15\%\] {
  right: 15%;
}
.z-10 {
  z-index: 10;
}
.m-8 {
  margin: 2rem;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-1\/2 {
  height: 50%;
}
.h-20 {
  height: 5rem;
}
.h-36 {
  height: 9rem;
}
.h-52 {
  height: 13rem;
}
.h-\[200px\] {
  height: 200px;
}
.h-\[calc\(100vh-144px\)\] {
  height: calc(100vh - 144px);
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-44 {
  height: 11rem;
}
.h-96 {
  height: 24rem;
}
.h-80 {
  height: 20rem;
}
.h-72 {
  height: 18rem;
}
.h-2\/3 {
  height: 66.666667%;
}
.h-\[150px\] {
  height: 150px;
}
.h-\[90\%\] {
  height: 90%;
}
.h-\[80\%\] {
  height: 80%;
}
.w-0 {
  width: 0px;
}
.w-0\.5 {
  width: 0.125rem;
}
.w-1\/2 {
  width: 50%;
}
.w-20 {
  width: 5rem;
}
.w-52 {
  width: 13rem;
}
.w-\[200px\] {
  width: 200px;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-44 {
  width: 11rem;
}
.w-96 {
  width: 24rem;
}
.w-80 {
  width: 20rem;
}
.w-72 {
  width: 18rem;
}
.w-\[150px\] {
  width: 150px;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[\] {
  width: ;
}
.w-\[90\%\] {
  width: 90%;
}
.w-\[100px\] {
  width: 100px;
}
.w-\[300px\] {
  width: 300px;
}
.w-\[300\%\] {
  width: 300%;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.gap-4 {
  gap: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-full {
  border-radius: 9999px;
}
.border-16 {
  border-width: 16px;
}
.border-2 {
  border-width: 2px;
}
.border-peach {
  --tw-border-opacity: 1;
  border-color: rgb(246 191 164 / var(--tw-border-opacity));
}
.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}
.bg-\[\#fca986\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 169 134 / var(--tw-bg-opacity));
}
.bg-\[\#ffd7c6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 215 198 / var(--tw-bg-opacity));
}
.bg-gray-300\/30 {
  background-color: rgb(209 213 219 / 0.3);
}
.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.bg-gray-300\/50 {
  background-color: rgb(209 213 219 / 0.5);
}
.bg-gray-300\/60 {
  background-color: rgb(209 213 219 / 0.6);
}
.bg-gray-300\/70 {
  background-color: rgb(209 213 219 / 0.7);
}
.bg-peach {
  --tw-bg-opacity: 1;
  background-color: rgb(246 191 164 / var(--tw-bg-opacity));
}
.bg-peach\/50 {
  background-color: rgb(246 191 164 / 0.5);
}
.bg-peach\/80 {
  background-color: rgb(246 191 164 / 0.8);
}
.bg-peach\/90 {
  background-color: rgb(246 191 164 / 0.9);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.p-10 {
  padding: 2.5rem;
}
.p-8 {
  padding: 2rem;
}
.p-4 {
  padding: 1rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pt-20 {
  padding-top: 5rem;
}
.pt-0 {
  padding-top: 0px;
}
.pt-10 {
  padding-top: 2.5rem;
}
.text-center {
  text-align: center;
}
.font-lato {
  font-family: Lato, sans-serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-semibold {
  font-weight: 600;
}
.text-brown {
  --tw-text-opacity: 1;
  color: rgb(136 100 95 / var(--tw-text-opacity));
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.hero-background {
  background-color:#ffd7c6;
  background-image: linear-gradient(to bottom left, rgba(251, 154, 113, 6) 1%, rgba(251, 154, 113, 0) 50%, rgba(251, 154, 113, 0.60) 95%);
}

.line-dark-to-light {
  background: linear-gradient(to bottom, #88645f, #e28e6e)
}

.line-light-to-dark {
  background: linear-gradient(to top, #88645f, #e28e6e)
}


.group-1 {
  position: absolute;
  inset: 0;
}

.group-2 {
  position: absolute;
  inset: 0;
}


.about {
  background: linear-gradient(
    180deg,
    rgba(252, 169, 134, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.line-6 {
  border-width: 2px 0 0 0;
  border-style: solid;
  -o-border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
     border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 1072px;
  top: 1031.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.about-me {
  color: #88645f;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 52px;
  font-weight: 700;
  position: absolute;
  left: 727px;
  top: 53px;
  width: 713px;
  height: 91px;
}
.about-me-subtitle {
  color: #88645f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 220px;
  width: 903px;
  height: 117px;
}
.about-me-description {
  color: #88645f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 84px;
  top: 361px;
  width: 903px;
  height: 624px;
}


.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-11 {
  background: #fb9a71;
  width: 1440px;
  height: 127px;
  position: absolute;
  left: 0px;
  top: 897px;
}
.frame-93 {
  display: flex;
  flex-direction: row;
  gap: 639px;
  align-items: center;
  justify-content: flex-start;
  width: 337px;
  height: 44px;
  position: absolute;
  left: 24px;
  top: 939px;
}
._2024-victoria-quinto-all-rights-reserved {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  width: 332px;
  height: 20px;
}
.social-icons {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1136px;
  top: 937px;
  overflow: visible;
}
.social-icons2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1337px;
  top: 937px;
  overflow: visible;
}
.social-icons3 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1270px;
  top: 937px;
  overflow: visible;
}
.social-icons4 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1203px;
  top: 937px;
  overflow: visible;
}
.line-5 {
  border-width: 2px 0 0 0;
  border-style: solid;
  -o-border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
     border-image: linear-gradient(
    180deg,
    rgba(226, 142, 110, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
  width: 1039.02px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1032.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.don-t-be-a-stranger {
  color: #88645f;
  text-align: center;
  font-family: "Mina-Bold", sans-serif;
  font-size: 52px;
  font-weight: 700;
  position: absolute;
  left: 51px;
  top: 132px;
  width: 713px;
  height: 91px;
}
.shoot-me-an-email {
  color: #88645f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 465px;
  top: 280px;
  width: 903px;
  height: 117px;
}
.shoot-me-an-email-span {
  color: #88645f;
  font-family: "Mina-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.shoot-me-an-email-span2 {
  color: #88645f;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github {
  color: #88645f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 465px;
  top: 430px;
  width: 903px;
  height: 396px;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github-span {
  color: #88645f;
  font-family: "Mina-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.feeling-shy-follow-me-on-linked-in-x-instagram-github-span2 {
  color: #88645f;
  font-family: "Mina-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
@media (min-width: 640px) {

  .sm\:visible {
    visibility: visible;
  }

  .sm\:absolute {
    position: absolute;
  }

  .sm\:inset-y-0 {
    top: 0px;
    bottom: 0px;
  }

  .sm\:left-1\/2 {
    left: 50%;
  }

  .sm\:left-\[\] {
    left: ;
  }

  .sm\:left-\[\%\] {
    left: %;
  }

  .sm\:left-\[\$15\] {
    left: $15;
  }

  .sm\:left-\[15\] {
    left: 15;
  }

  .sm\:left-\[15\%\] {
    left: 15%;
  }

  .sm\:right-\[15\%\] {
    right: 15%;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-96 {
    height: 24rem;
  }

  .sm\:h-full {
    height: 100%;
  }

  .sm\:h-1\/2 {
    height: 50%;
  }

  .sm\:h-\[200px\] {
    height: 200px;
  }

  .sm\:h-\[00px\] {
    height: 00px;
  }

  .sm\:h-\[300px\] {
    height: 300px;
  }

  .sm\:w-96 {
    width: 24rem;
  }

  .sm\:w-0 {
    width: 0px;
  }

  .sm\:w-0\.5 {
    width: 0.125rem;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-\[200px\] {
    width: 200px;
  }

  .sm\:w-\[300px\] {
    width: 300px;
  }

  .sm\:w-\[400px\] {
    width: 400px;
  }

  .sm\:w-\[\] {
    width: ;
  }

  .sm\:w-\[80\%\] {
    width: 80%;
  }

  .sm\:w-\[120\%\] {
    width: 120%;
  }

  .sm\:w-\[0\%\] {
    width: 0%;
  }

  .sm\:w-\[10\%\] {
    width: 10%;
  }

  .sm\:w-\[110\%\] {
    width: 110%;
  }

  .sm\:w-\[100\%\] {
    width: 100%;
  }

  .sm\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  @media (min-width: 640px) {

    .sm\:sm\:justify-center {
      justify-content: center;
    }
  }

  .sm\:border-32 {
    border-width: 32px;
  }

  .sm\:p-0 {
    padding: 0px;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

